.chat-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .2vw;
    transform-origin: 0 0
}

.chat-content.scale-15 {
    transform: scale(1.15)
}

.chat-content.scale-2 {
    transform: scale(1.25)
}

.chat-input {
    margin-left: 2.1vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .2vw;
    opacity: 0;
    width: 20vw
}

.chat-input .suggestions {
    background-color: var(--primary-background);
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: column;
    opacity: 0;
    padding: 0;
    margin-top: 0;
    overflow: hidden;
    transition: all .48s cubic-bezier(.075, .82, .165, 1)
}

.chat-input .suggestions.active {
    margin-top: .2vw;
    padding: .5vw;
    opacity: 1;
    transition: all .48s cubic-bezier(.075, .82, .165, 1)
}

.chat-input .suggestions .suggestion {
    display: flex;
    flex-direction: column;
    gap: .2vw;
    font-size: .6vw;
    color: #fff
}

.chat-input .suggestions .suggestion .row {
    display: flex;
    align-items: center;
    gap: .5vw
}

.chat-input .suggestions .suggestion .command-name {
    font-weight: 500
}

.chat-input .suggestions .suggestion .command-info {
    opacity: .6
}

.chat-input .suggestions .suggestion .params {
    font-weight: 500;
    font-size: .365vw;
    box-sizing: border-box;
    padding: .1vw;
    border-radius: .2vw;
    background-color: var(--primary-color)
}

.chat-input .liner {
    width: .2vw;
    align-self: stretch;
    background-color: var(--primary-color)
}

.chat-input .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%
}

.chat-input .chat-pre-input {
    background-color: var(--primary-background);
    width: 100%;
    box-sizing: border-box;
    padding: .7vw;
    position: relative
}

.message-input-content-bg {
    position: absolute;
    left: .79vw;
    top: 50%;
    transform: translateY(-50%);
    font-size: .65vw;
    color: #fff;
    opacity: .3
}

.chat-input input[type=text] {
    background-color: transparent;
    position: relative;
    z-index: 9999;
    border: 0;
    outline: 0;
    width: 100%;
    font-size: .65vw;
    font-family: Montserrat, sans-serif;
    color: #fff
}

.chat-input input[type=text]::placeholder {
    color: #fff;
    font-family: Montserrat, sans-serif;
    opacity: .3
}

.chat-input input[type=text]::selection {
    background-color: var(--primary-color)
}

.chat-content .chat-messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .2vw;
    max-height: 0vw;
    opacity: 0;
    transition: max-height .48s cubic-bezier(.075, .82, .165, 1), opacity .125s ease-in-out;
    overflow: scroll
}

.chat-content .chat-messages.active {
    max-height: 17.292vw;
    opacity: 1
}

.chat-content .chat-messages::-webkit-scrollbar {
    width: 0vw
}

.chat-content .chat-messages::-webkit-scrollbar-track {
    background-color: transparent
}

.chat-content .chat-messages::-webkit-scrollbar-thumb {
    background: transparent
}

.chat-content .chat-messages .message {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .2vw
}

.chat-content .chat-messages .message .icon {
    width: 2.3vw;
    height: 2.3vw;
    font-size: .83vw;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a1a1a;
    font-weight: 800
}

.chat-content .chat-messages .message .text-content {
    max-width: 20vw;
    min-width: 10vw;
    overflow: hidden;
    background-color: var(--primary-background);
    box-sizing: border-box;
    padding: .46vw;
    font-size: .52vw;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0vw
}

.chat-content .chat-messages .message .text-content .header-box {
    display: flex;
    justify-content: space-between
}

.chat-content .chat-messages .message .text-content .header {
    font-weight: 600
}

.chat-content .chat-messages .message .text-content .timestamp {
    opacity: .3
}

.chat-content .chat-messages .message .text-content .header span {
    color: var(--primary-color)
}

.chat-content .chat-messages .message .text-content .text {
    font-weight: medium
}

.chat-content .chat-messages .message .text-content .buttons {
    width: 100%;
    display: flex;
    gap: .25vw
}

.chat-content .chat-messages .message .text-content .buttons .button {
    width: 100%;
    height: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .52vw;
    text-transform: uppercase;
    background-color: var(--primary-background);
    transition: background-color .125s ease-in-out
}

.chat-content .chat-messages .message .text-content .buttons .button:hover {
    background-color: var(--primary-color)
}
